- type: log
  enabled: true
  paths:
   - /home/www/{{ item.name }}/src/storage/logs/*.log
  fields:
    domain: {{ item.name }}
    log_type: php-framework
  fields_under_root: true
  exclude_files: ['worker.log$']
  multiline:
   pattern: '^\['
   negate: true
   match: after
