standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_streaming_master }} port=5432 user={{ postgresql_replication_user.name }} password={{ postgresql_replication_user.pass}} application_name=pgslave01'
trigger_file = '/tmp/postgresql.trigger.5432'