#!/bin/bash
#删除2天前的/home/tomcat/rxjh/game/backup/sendconsume文件夹下的log
#find /home/tomcat/rxjh/game/backup/sendconsume -atime +3 -exec rm -f {} \;
#########################update thucnk################################
#!/bin/bash
#删除2天前的/home/tomcat/rxjh/game/backup/sendconsume文件夹下的log
find /home/tomcat/rxjh/game/backup/sendconsume -atime +3 -exec rm -f {} \;
