[database]
connection = mysql+pymysql://{{ glance_galera_user }}:{{ glance_user_password }}@{{ glance_galera_address }}/{{ glance_galera_database }}
backend = sqlalchemy


[keystone_authtoken]

auth_type = {{ glance_keystone_auth_plugin }}
auth_url = {{ keystone_service_adminurl }}
www_authenticate_uri = {{ keystone_service_internaluri }}
project_domain_name = {{ glance_service_project_domain_name }}
user_domain_name = {{glance_service_domain_name}}
project_name = {{ glance_service_project_name }}
username = {{ glance_service_user_name }}
password = {{ glance_service_password }}

memcached_servers = {{ memcached_servers }}

token_cache_time = 300

token_cache_time = 300
revocation_cache_time = 60

{% if glance_ceilometer_enabled %}
[oslo_messaging_notifications]
driver = messagingv2
transport_url = rabbit://openstack:{{ glance_oslomsg_notify_password }}@{{ host }}
{% endif %}

[paste_deploy]
flavor = keystone
