es:
  server-urls: {{ es.url }}
  tls:
    enabled: true
    ca: /etc/jaeger/certs/ca.pem
    cert: /etc/jaeger/certs/admin-es.pem
    key: /etc/jaeger/certs/admin-es-key.pem
collector:
  http-server:
    host-port: 14268